<div class="absoluteFill">

	<video #videoElement autoplay></video>

	<car-left-svg-mask></car-left-svg-mask>
	<img *ngIf="capturedImage" [src]="capturedImage" alt="Captured Image" />

	<button class="capture-button" (click)="capture()"></button>

	<button class="accept-button" *ngIf="capturedImage" (click)="acceptPhoto()"></button>
	<button class="retake-button" *ngIf="capturedImage" (click)="retakePhoto()"></button>
</div>
<span class="time" *ngIf="cameraInitElapsedTime">
	Camera initialized in: {{ cameraInitElapsedTime | number:'1.0-2' }} milliseconds.
	<br/>
	<span *ngIf="imageWidth">
		Captured image dimensions: {{ imageWidth }} x {{  imageHeight }} 
	</span>
	<br/>
	<span *ngIf="capturedImagesize">
		Captured imagesize: {{ capturedImagesize }} kB
	</span>
</span>
